<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Application Name - Products</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #DAE0E2;
      color: #000000;
      padding: 10px;
      text-align: center;
      border-bottom: 5px solid #99AAAB;
    }

    nav {
      background-color: #DAE0E2;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

    nav a {
      color: #000000;
      text-decoration: none;
      padding: 14px 16px;
      text-align: center;
    }

    nav a:hover {
      background-color: #ddd;
      color: black;
    }

    nav a.logo {
      font-size: 25px;
      font-weight: bold;
      margin-right: auto;
    }

    .home_header {
      background-color: #99AAAB;
      border-radius:0px 0px 15px 15px;
      color: #000000;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    
    footer {
      background-color: #99AAAB;
      border-radius: 15px 15px 0px 0px;
      color: #000000;
      text-align: center;
      position: relative;
      bottom: 0;
      width: 100%;
    }
    .footer-main{
      padding: 3%;
    }
    .home-main {
      margin:5%;

    }

    .image-grid {
      display: flex;
      flex-wrap: wrap;
    }

    .image-item {
      width: 25%; /* Adjust the width based on your preference to display 4 images in a row */
      padding: 10px;
      box-sizing: border-box;
    }

    .image-item img {
      width: 100%;
      height: auto;
    }

    .image-item p {
      text-align: center;
      margin-top: 5px;
    }
    .coooo {
      display: flex;
      flex-direction: column;
    }
    .coooo p {
      font-size: 20px;
    }
    .right-side{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .right-side p {
      font-size: 20px;
    }
    .main-content {
      margin: 5%;
    }
    .main-content h1 {
      color: #054E34;
    }

    @media screen and (max-width: 600px) {
      nav {
        flex-direction: column;
        align-items: flex-start;
      }

      nav a.logo {
        margin: 0;
        margin-bottom: 10px;
      }

      nav a {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
      }
    }
  </style>
</head>
<body>
  <header>
    <h1>Global Enbig Network Private Limited</h1>
  </header>

  <nav>
    <a href="/" class="logo"><img src="<%=asset_path('enbiglogo.png')%>" alt="Your Logo"></a>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/health">Health Tips</a>
    <a href="/business">Business Opportunities</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
    <a href="/aboutus">About Us</a>
  </nav>


  <div>
    <div class="home_header">
      <h2>Products</h2>
    </div>
    <div class="home-main">
      <%#<div class="main-content">
      #  <h1>Introductory Regular Products:</h1>
      #   <div class="coooo">
      #    <p>1. Coconut Oil (Sulphur & Smoke free)</p>
      #    <p>2. Virgin coconut oil (Virgin)</p>
      #   <p>3. Tea Powder (Best quality, from Nilgiri)</p>
       #   <p>4. Coffee Powder (Super quality from Coorg)</p>
      #    <p>5. Chilli Powder Processed by Enbig Global from selected quality Chilli</p>
      #    <p>6. Pappadam (Exclusively made for Global Enbig as per our quality standard)</p>
      #    <p>7. Rice (Best selected quality)</p>
       #   <p>8. Coconut Lamb Oil (Perfumed & Ordinary)</p>
       #   <p>Introductory on demand Products - 100% ശുദ്ധമായ വെളിച്ചെണ്ണയിൽ ഉണ്ടാക്കിയത്</p>
       #   <p>1. പപ്പടവട (Pappadavada)</p>
      #    <p>2. ശർക്കര വരട്ടി ഗ്ലോബൽ എൻബിഗ് നെറ്റ് വർക്ക്</p>
       # </div>
      #  <div class="right-side" >
      #    <p>ഉണ്ണികൃഷ്ണൻ നായർ</p>
      #    <p>എക്സിക്യുട്ടീവ് ഡയറക്ടർ</p>
      #  </div>
        
                                                                                                                                                                    
                                                                                                                                                                    
    #  </div> %>
      <div class="image-grid">
      

        <% @product.each do |home| %>
          <% if home.image.attached? %>
            <div class="image-item">
              <%= image_tag home.image , class: "responsive-image", alt: "Responsive image"%>
              <p><%= home.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    
  </div>
  <footer>
    <div class="footer-main">
      <div>
        <h3>Global Enbig Network Private Limited</h3>
        <h4>Registered Office Address</h4>
        <p>11/12, 4th Floor, Chateau D'Ampa 37, Nelson Manickam Road, Chennai - 600029(TamilNadu)</p>
        <h4>Corporate Office Address</h4>
        <p>A-32,Kurichi Housing Unit-2, Madhukari Market Mani Road SidcoPost, Sundarapuram , Coimbatore - 641021(TamilNadu)</p>
      </div>
      <div>
        <p>&copy; 2024 Global Enbig. All rights reserved.</p>
      </div>
    </div>
    
  </footer>
</body>
</html>
